<h1 class="mt-4 text-center">{{ titulo }}</h1>

<form class="mb-3" [formGroup]="addusuarios" (submit)="onSubmit()" >
  <div formGroupName = "usuario">
  <div class="form-row mt-5">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nome</label>
      <input type="text" class="form-control" placeholder="Nome" formControlName="nome" >
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Senha</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="senha">
    </div>
  </div>
  <div class="form-group">
    <label for="emailInput">Email</label>
    <input type="text" class="form-control" placeholder="Email" formControlName="email">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputZip" >CEP</label>
      <input type="text" class="form-control" (blur)="getEndereco()" formControlName="cep">
    </div>
    <div class="form-group col-md-8">
      <label for="inputPassword4">Cidade</label>
      <input type="text" class="form-control" placeholder="São Paulo" formControlName="cidade" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Logradouro</label>
      <input type="text" class="form-control" placeholder="Nome da Rua" formControlName="logradouro">
    </div>
    <div class="form-group col-md-2">
      <label for="inputEmail4">Número</label>
      <input type="number" class="form-control" placeholder="Número da Casa" formControlName="numero">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Complemento</label>
      <input type="text" class="form-control" placeholder="Complemento" formControlName="complemento">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputEmail4">Bairro</label>
      <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Estado</label>
      <input type="text" class="form-control" placeholder="SP" formControlName="estado">
    </div>
  </div>
  

  <button type="submit" class="btn btn-block btn-primary">{{ mensagem }}</button>
</div>
</form>




<p grifarParagrafo>usuario-form works!</p>

<input type="button" class="btn btn-success mb-2" [class.disabled]="isHabilitado" [style.background-color]="getColor()" [value]="textoBotao">

<input type="button" class="ml-2" (click)='trocarHabilitado()' value="Controlar botão">

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Apelido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios">
        <th scope="row">{{ u.id }}</th>
        <td> {{ u.primeironome }} </td>
        <td>{{ u.sobrenome }}</td>
        <td>{{ u.apelido }}</td>
      </tr>
      
    </tbody>
  </table>

  {{'2020-02-14T12:44:05z'| dataPipe }}

   <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Age</th>
        
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees.data">
        <td>{{ e.id }}</td>
        <td> {{ e.employee_name }} </td>
        <td>{{ e.employee_salary }}</td>
        <td>{{ e.employee_age }}</td>

      </tr>
      
    </tbody>
  </table>

 