<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']"  routerLinkActive="active" >Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"  routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuarios']"  routerLinkActive="active">Usuários</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/produtos']"  routerLinkActive="active">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/produtos/cadastro']"  routerLinkActive="active">Cadastro de Produtos</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vendas']"  routerLinkActive="active">Vendas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pokemons']"  routerLinkActive="active">Pokemons</a>
          </li>
          <li class="nav-item" *ngIf="this.esconderAdmin == true">
            <a class="nav-link" [routerLink]="['/admin']"  routerLinkActive="active">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/usuarios/template-form']"  routerLinkActive="active">Template Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/usuarios/data-form']"  routerLinkActive="active">Data Form</a>
          </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        
        </ul>
      <form class="form-inline my-2 my-lg-0">
            <button *ngIf="esconderAdmin" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)='logout()'>Logout</button>
      </form>
    </div>
  </nav>
